# Archivos de caché de Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
env/
*.venv

# Archivos de configuración con secretos
# (Aunque usamos variables de entorno, es una buena práctica)
.env
config.py

# Registros y bases de datos
*.log
*.db